{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href={% static 'css/form.css' %}>

    <div class="form-signin">
        <h3 class="h mb-3 fw-normal">You are applying for {{ context.scheme }}</h3>
        <div class="form-floating form-control">{{ defform.Name.value }}'s Details</div>
        <form method="POST" class="post-form" , enctype="multipart/form-data">
            {% csrf_token %}
            {% for fields in defform %}
                <div class="form-floating">
                    {% render_field fields class="form-control" %}
                    <label class="form-floating" for="{{ fields.id_for_label }}">{{ fields.label }}</label>
                </div>
            {% endfor %}
            {% for field in form %}
                <div class="form-floating">
                    {% render_field field class="form-control" %}
                    <label class="form-floating" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            {% for error in form.non_field_errors %}
                    <p style="color: red;">{{ error }}</p>
            {% endfor %}
            <button type="submit" class="w-100 btn btn-lg btn-success">Submit</button>
        </form>
    </div>
{% endblock content %}