{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <link rel="stylesheet" type="text/css" href={% static 'css/form.css' %}>

    <form method="POST" class="form-signin" enctype="multipart/form-data">
        {% if request.user.is_authenticated %}
            <h1 class="h3 mb-3 fw-normal" style="color: darkblue">Change Password</h1>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating">
                    {% render_field field class="form-control" %}
                    <label class="form-floating" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            {% for field in form.non_field_errors %}
                <p style="color: red;">{{ field }}</p>
            {% endfor %}
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
        {% endif %}

    </form>



{% endblock %}
