{% extends 'base.html' %}
{% block content %}
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <div style="padding-top: 80px; padding-left: 30px; font-size: 30px">
        {{ notice }}
    </div>
{% endblock content %}